<% include header.ejs %>

<div class="container">
    <h1><%=texts.CONTACT_US%></h1>
    <hr>
    
    <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="thin text-center"><%=texts.GET_IN_TOUCH%></h3>
				<p><%=texts.CONTACT_TEXT%></p>
				<hr>
			    <form name="contact-form" id="contact-form" action="/contact" method="post">
					<div class="row">
						<div class="col-sm-4">
							<input class="form-control" type="text" name="name" placeholder="Name" required>
						</div>
						<div class="col-sm-4">
							<input class="form-control" type="email" name="email" placeholder="Email" required>
						</div>
						<div class="col-sm-4">
							<input class="form-control" type="tel" name="phone" placeholder="Phone">
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-12">
							<textarea name="message" placeholder="Type your message here..." class="form-control" rows="9" required></textarea>
						</div>
					</div>
					<br>
					<div class="">
						<div class="col-sm-6">
							<label class="checkbox"><input name="suscribed" type="checkbox"><%=texts.SIGNUP_NEWSLETTER%></label>
						</div>
						<div class="col-sm-6 text-right">
							<input id="sendcontact" class="btn btn-action btn-primary" type="submit" value="<%=texts.SEND_MESSAGE%>">
						</div>
					</div>
				</form>
				<div id="contact-thanks" style="display:none;" class="alert alert-success">
				<%=texts.CONTACT_FORM_SEND_OK%>					
				</div>

			</div>
		</div>
	</div>


</div>

<% include footer.ejs %>

 