<% include header.ejs %>

<div class="container">
    <h1><%= title %></h1>
    <hr>
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				
				 <% if(typeof msgs !="undefined" && msgs.length){ 
			    	for(var i=0;i< msgs.length; i++){ %>
					<h4 class="alert <%=msgs[i].css%>"><%=msgs[i].msg%></h4>
					<%}%>
			    <%}%>
			    
				<% if(codeOK){ %>
					<h3 class="thin text-center"><%=texts.CHOOSE_PASSWORD%></h3>
					<p class="text-center text-muted"></p>
					<hr>
						<form action="/reset-password" method="post">
							<div class="row top-margin">
							<div class="col-sm-6">
								<label><%=texts.PASSWORD%> <span class="text-danger">*</span></label>
								<input type="password" name="userPassword1" id="userPassword1" class="form-control" required>
							</div>
							
							<div class="col-sm-6">
								<label><%=texts.CONFIRM_PASSWORD%> <span class="text-danger">*</span></label>
								<input type="password" name="userPassword2" id="userPassword2" class="form-control" required>
							</div>
						</div>
							<hr>
							<div class="row">
								
								<div class="col-lg-11 text-right">
									<button class="btn btn-action btn-primary" type="submit"><%=texts.SAVE%></button>
								</div>
							</div>
						</form>
				<%}%>
				
			</div>
		</div>

	</div>

</div>

<% include footer.ejs %>
