<div class="panel panel-default">
	<div class="panel-heading"><h3 class="panel-title"><%=texts.PERSONAL_SETTINGS%></h3></div>
	
	<div class="list-group">
	 <a class="list-group-item<%- menu == 'profile' ? ' active' : ''%>" href="/my-account/profile"><%=texts.PROFILE%></a>
	 <a class="list-group-item<%- menu == 'settings' ? ' active' : ''%>" href="/my-account/settings"><%=texts.ACCOUNT_SETTINGS%></a>
	 <a class="list-group-item<%- menu == 'emails' ? ' active' : ''%>" href="/my-account/emails"><%=texts.EMAIL_PREFERENCES%></a>
	</div>
	
</div>